/*Versió Mobile First
12/02/2021
Albert Acedo*/


/* Body */
body {
   background-color:whitesmoke;
}


/*Font Arnold - Per a posibles usos de canvi de logo*/
@font-face {
   font-family: "arnold_boecklin";
   src: url("../media/tipografia/ArnoldBoecklin.ttf") format("truetype"),
        url("../media/tipografia/arnoldboecklin-webfont.woff") format("woff"),
        url("../media/tipografia/arnoldboecklin-webfont.woff2") format("woff2");
   font-size: normal;
   font-weight: normal;
}


/* Header mobil*/
.header-mobil{
   display: none;
   background-color: darkgray;
   height: 55px;
}
@media screen and (max-width: 575px){
   .header-mobil {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   header a{
      display: flex;
      align-items: center !important;
      justify-content: center !important;
   }
   .info{
      height: 100% !important;
   }
   .mapa{
      height: 50% !important;
   }
}
.fa-2x{
   color: ghostwhite;
}


/*Header*/
header{
   background-color: rgb(40, 236, 166);
}
header a{
   display: flex;
   justify-content: flex-start;
}
#logo{
   max-height: 100%;
   max-width: 100%;
}



/* Carousel*/
.carousel-item{
   background-position: center;
   background-size: cover;
}
.carousel-indicators {
   position: absolute;
   display: flex;
   justify-content: center;
   margin-right: 5rem;
   margin-bottom: 2rem;
   margin-left: 5rem;
 }
 .carousel-indicators .active {
   opacity: 0.4;
}
.indicador{
padding: 2px 15px;
margin: 10px;
border: none;
}
.carousel-control-next{
   background: 0 0;
   border: 0;
   opacity: 0.9;
}
.carousel-control-prev{
   background: 0 0;
   border: 0;
   opacity: 0.9;
}


/* Columnes */
.col-sm-4{
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   text-align: center;
   padding: 0 1.5rem;
}
main .cercles{
   margin-top: 2rem !important;

}
.col-sm-4 h3{
   margin-top: 1rem;

}
.col-sm-4 a:link{
   color: darkgrey;
}
.col-sm-4 a:visited{
   color:darkseagreen;
}
.col-sm-4 a:hover{
   color:gray;
}

/*Mapa*/
.info{
   height: 50%;
}

/*Separació*/
.separacio{
   left: 25%;
   right: 25%;
   margin-top: 2rem;
   padding: 1px;
   background-color:rgba(199, 199, 199, 0.452);
   width: 50%;
}


/* Footer */
.col-sm-3{
   text-align: end;
}
footer a:link{
   color: darkgrey;
}
footer a:visited{
   color:darkseagreen;
}
footer a:hover{
   color:grey;
}
footer{
   font-size: 0.75rem;
   color:lightgray;
}